/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

h1 {
  font-size: 3.6rem;

  @include bp-down(small) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 3.6rem;

  @include bp-down(full) {
    font-size: 2.8rem;
  }

  @include bp-down(small) {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 2.4rem;

  // @include bp-down(full) {
  //   font-size: 2rem;
  // }
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}
