/* ==========================================================================
   #MEDIA
   ========================================================================== */

/**
 * Place any image- and text-like content side-by-side, as per:
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */

.o-media {
  display: flex;

  margin-bottom: 80px;

  h2 {
    font-family: $font-main-bold;
    line-height: 43px;

    margin-bottom: 10px;

    background: linear-gradient(90deg, #00565b 0%, #249059 90.29%);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    @include truncate(2);
  }

  h4 {
    margin-bottom: 10px;
  }

  p {
    font-family: $font-main;
    font-size: 2.4rem;
    line-height: 34px;

    color: #2d2d2d;

    @include truncate(3);

    @include bp-down(full) {
      font-size: 2rem;
    }
  }

  &:nth-child(6n+1),
  &:nth-child(6n+2) {
    max-width: 50vw;
  }

  &:nth-child(6n+3) {
    max-width: 66.6vw;
    margin-left: auto;

    .o-media__img {
      width: 100%;
    }
  }

  &:nth-child(6n+4),
  &:nth-child(6n+5) {
    flex-direction: row-reverse;

    max-width: 50vw;
  }

  &:nth-child(6n+6) {
    max-width: 66.6vw;
    margin-left: 0;

    .o-media__img {
      max-width: 100%;
    }
  }
}

.o-media__img {
  width: 100%;
  min-width: 258px;
  max-width: 400px;
}

.o-media__body {
  overflow: hidden;

  padding: 30px 80px 0 80px;

  background: $color-white;

  &,
  > :last-child {
    margin-bottom: 0;
  }
}
